{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block encabezado %}
<header class="centered-header">
    <h1>Resultados para "{{ ubicacion }}"</h1>
</header>
{% endblock %}

{% block contenido %}
{% if lugares %}
    <ul>
      {% for lugar in lugares %}
        <li>
           <strong>{{ lugar.nombre }}</strong> - {{ lugar.ubicación }} - 
           Tipo: {{ lugar.tipo }} <a href="{{ url_for('detalles', lugar_nombre=lugar.nombre) }}">Ver</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No se encontraron lugares para esa ubicación.</p>
  {% endif %}
  <a href="inicio">Volver al buscador</a>
{% endblock %}