{% extends "base.html" %}
{% block title %}Listas{% endblock %}

{% block encabezado %}
<header class="centered-header">
    <h1 style="margin: 3rem;">Resultados para "{{ ubicacion }}"</h1>
</header>
{% endblock %}

{% block contenido %}
{% if lugares %}
    <ul class="lista-lugares">
  {% for lugar in lugares %}
    <li class="item-lugar">
      <span class="nombre"><strong>{{ lugar.nombre }}</strong></span>
      <span class="ubicacion">{{ lugar.ubicación }}</span>
      <span class="tipo">Tipo: {{ lugar.tipo }}</span>
      <a class="pure-button volver-boton" href="{{ url_for('detalles', lugar_nombre=lugar.nombre) }}">Ver mas</a>
    </li>
  {% endfor %}
</ul>
  {% else %}
    <p>No se encontraron lugares para esa ubicación.</p>
  {% endif %}
  <a href="{{ url_for('inicio') }}" class="pure-button volver-boton">⟵ Volver al buscador</a>
{% endblock %}